
body {
	#__bs_notify__ {
		display: none !important;
	}
 	.demo {
 		margin: 10px;
 		height: calc(100vh - 130px);
 		overflow: auto;

 		img {
 			width: 326px;
 			height: 300px;
 			margin-bottom:5px;
 		}
 	}	
	.demo::-webkit-scrollbar {
		display: none;
	}
	.layui-body::-webkit-scrollbar {
	 	display: none;
	}
 	.layui-footer {
 		text-align: center !important;
 	}

}
